<%= stylesheet_link_tag  "style.css" %>
 <div class="container-fluid">
  <div class="row">
      <div class="col-md-12 espacio">
        <nav class="navbar navbar-default sinBorder fondo">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_principal">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>             
              <a class="navbar-brand titulo" href="#">Estadisticas de registro de usuarios</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu_principal">
              <ul class="nav navbar-nav">
                <li class="dropdown"></li>
                <li class="dropdown">
                  <a href="#" class="collapse navbar-collapse" data-toggle="collapse" role="button" aria-expanded="false">Sesion <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Nivel Nacional</a></li>
                    <li class="dropdown-submenu">
                        <a href="#" >Provincia</a>
                        <ul class="dropdown-menu  ">
                            <li><a href="#" >provincia</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#" data-toggle="dropdown" aria-expanded="false">Nivel de Atención</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Hospital</a></li>
                        <li><a href="#">Policlínica</a></li>
                        <li><a href="#">ULAPS</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#" data-toggle="dropdown" aria-expanded="false">Unidad Ejecutora</a>
                      <ul class="dropdown-menu anchoSubMenu">
                         <li><a href="#">hospital</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mantenimiento <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Registrar Usuario</a></li>
                    <li><a href="#">Disponibilidad</a></li>
                    <li><a href="#">Configuración</a></li>
                    <li><a href="#">Importar CSV</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right"></ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>




    
    <div class="row">
      <div class="col-md-6">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;">Estatus </h2>
        <%= pie_chart AdmMaestro.where("adm_maestro_tipo_id=10").group(:estatus).count %>
      </div>
      <div class="col-md-6">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;">Posición de jugadores</h2>
        <ul>
          <% AdmMaestro.where("adm_maestro_tipo_id=10").each.with_index(1) do |maestro, index| %>
            <li><%= maestro.nombre %></li>
          <% end %>
        </ul>
      </div>     
    </div>
  
      
           
    </div> 

    <div class="row">
      <div class="col-md-12 espacio">
        <footer class="footer">            
        </footer>
      </div>
    </div>
  </div><!--container-->

