<div class="container relleno_t-b">
    <nav class="navbar quitar_margen_t-b">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="fl margen_r" href="/">
                    <%= image_tag("pelota-logo-p.png", :class => "", :height => "50px") %>
                </a>
            </div>            
        </div><!-- /.container-fluid -->
    </nav>
</div>



