<header>
    <nav class="bk-gris margen_sm_b navbar navbar-default navbar-fixed-top">
            <%= render "layouts/header_publico" %>
    </nav>

    <section class="bk-blanco" style="padding-top: 80px;">
        <div class="container relleno_t-b">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cabecero-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand quitar_padding_t-b" href="/">
                    <%= image_tag("logo_gol_m.png", :class => "img_logo", :alt => "Logo") %>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="cabecero-collapse-1">
                <div class="row">
                    <% if session[:usuario_id].nil? %>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <span>
                                    <button type="button" class="btn boton-ocre" data-toggle="modal" data-target="#myModal" title="Para ingresar haz clic AQUI">
                                        INICIAR SESIÓN
                                    </button>
                                </span>
                            </li>
                        </ul>
                    <% end %>

                    <%# ************************** %>
                    <%= render "layouts/modal_inicio_sesion" %>


                    <%# *************  RRSS ************** %>
                </div>
            </div>
        </div>
    </section>
</header>
