<%= stylesheet_link_tag  "style.css" %>
 <div class="container-fluid">
  <div class="row">
      <div class="col-md-12 espacio">
        <nav class="navbar navbar-default sinBorder fondo">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_principal">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>             
              <a class="navbar-brand titulo" href="#">Estadisticas de registro de usuarios</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu_principal">
              <ul class="nav navbar-nav">
                <li class="dropdown"></li>
                <li class="dropdown">
                  <%=link_to "Administración maestros","/admaestros", :class=>"collapse navbar-collapse" %>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Nivel Nacional</a></li>
                    <li class="dropdown-submenu">
                        <a href="#" >Provincia</a>
                        <ul class="dropdown-menu  ">
                            <li><a href="#" >provincia</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#" data-toggle="dropdown" aria-expanded="false">Nivel de Atención</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Hospital</a></li>
                        <li><a href="#">Policlínica</a></li>
                        <li><a href="#">ULAPS</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#" data-toggle="dropdown" aria-expanded="false">Unidad Ejecutora</a>
                      <ul class="dropdown-menu anchoSubMenu">
                         <li><a href="#">hospital</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mantenimiento <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Registrar Usuario</a></li>
                    <li><a href="#">Disponibilidad</a></li>
                    <li><a href="#">Configuración</a></li>
                    <li><a href="#">Importar CSV</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right"></ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>




    
    <div class="row">
      <div class="col-md-6">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;">Estatus de usuarios</h2>
        <%= pie_chart AdmUsuario.group(:estatus).count %>
      </div>
      <div class="col-md-6">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;">Usuarios registrados por rol</h2>
        <%= pie_chart @usaurios_rol %>
      </div>               
    </div>
    <div class="row">
      <div class="col-md-6">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;">Usuarios por genero</h2>
        <%= pie_chart Persona.joins(:adm_usuario).where("personas.estatus = 'A'").group("personas.sexo_id").count %>
      </div> 
      <div class="col-md-6">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;">Total de usuarios por nacionalidad </h2>      
       <% @somearray = [] %> 
        <% @usuario_nacionalidad.each.with_index(1) do |jugador, index| %>         
          <% @somearray << [ jugador.nacionalidad, jugador.total ] %>
        <% end %> 
        <%= pie_chart @somearray %>     
      </div>           
    </div>
    <div class="row"> 
       <div class="col-md-6">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;">Usuarios registrados por dias</h2>
        <%= line_chart AdmUsuario.group_by_day(:fecha_creacion).count %>
      </div>     
      <div class="col-md-6">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;">Usuarios registrados por mes</h2>
        <%= line_chart AdmUsuario.group_by_month(:fecha_creacion).count %>
      </div>
    </div>

    <div class="row"> 
       <div class="col-md-12">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;">Usuarios por nacionalidad </h2>
        <%= column_chart @usuario_por_nacionalidad %>    
      </div> 
    </div>

     <div class="row"> 
      <div class="col-md-12">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;">Usuarios registrados por paises</h2>
        <div class="col-md-9">
          <%= geo_chart @usuarios_por_paises %>
        </div>
        <div class="col-md-3">
           <div class="form-group">
            <label for="sel1">Paises</label>
            <select class="form-control" id="paises_Usuarios">
              <option class="cat_info" value="0">seleccione</option>
               <% @usuarios_por_paises_id.each.with_index(1) do |paisesUsuarios, index| %>
                 <% @id_select =paisesUsuarios[0] %>
                  <option class="cat_info" value="<%= @id_select %>" id="<%= paisesUsuarios[1] %>"><%= paisesUsuarios[1] %></option>
               <% end %>
            </select>
          </div> 
        </div>
      </div>
    </div>

     <div class="row" id="ciudade_graficas"> 
       <div class="col-md-12">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;" id="titulo_cidades"></h2>
        <div class="col-md-9" id="graficaCiudades">
        </div> 
        <div class="col-md-3">
           <div class="form-group">
            <label for="sel1">Ciudades</label>
            <select class="form-control" id="ciudades"></select>
          </div>     
        </div>    
      </div>     
    </div>

     <div class="row" id="parroquias_graficas"> 
       <div class="col-md-12">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;" id="titulo_parroquias"></h2>
        <div class="col-md-9" id="graficaParroquias">
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="sel1">Parroquias</label>
            <select class="form-control" id="parroquias">
            </select>
          </div>          
        </div>             
      </div>     
    </div>

    <div class="row" id="parroquias_municipios"> 
       <div class="col-md-12">
       <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="text-align: center;color:red;" id="titulo_municipios"></h2>
         <div class="col-md-9" id="graficaMunicipios"></div>           
      </div>     
    </div>

    <div id="target-for-change">
  Now you see "ME"!
</div>


     

    <div class="row">
      <div class="col-md-12 espacio">
        <footer class="footer">            
        </footer>
      </div>
    </div>
  </div><!--container-->

